body {
  color: #302f2f;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 2;
}

p {
  margin: 0;
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

@media (min-width: 1200px) {
  .container {
    margin: 0 auto;
    width: 1200px;
  }
}
.section-padding {
  padding: 150px 0;
}

.site-btn {
  font-size: 24px;
  color: #fff;
  background: #1775D2;
  display: inline-block;
  text-transform: uppercase;
  border: 1px solid transparent;
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
  -webkit-box-shadow: 0px 12px 35px 0 rgba(0, 0, 0, 0.31);
          box-shadow: 0px 12px 35px 0 rgba(0, 0, 0, 0.31);
  width: 250px;
  height: 70px;
  padding: 0;
  line-height: 70px;
}

.site-btn:hover {
  color: #1775D2;
  border: 1px solid #1775D2;
  background: transparent;
  text-decoration: none;
}

.gray {
  background: #F4F4F4;
}

.paddingtop60 {
  padding-top: 60px;
}

.section-heading {
  color: #1B1B1B;
  padding-bottom: 73px;
}
.section-heading h2 {
  font-weight: 900;
  font-size: 48px;
  margin-bottom: 35px;
}
.section-heading p {
  line-height: 2;
  max-width: 490px;
  margin: 0 auto;
}

.btn.button {
  display: block;
  font-size: 18px;
  color: #fff;
  letter-spacing: 1px;
  background: linear-gradient(189.51deg, #F09819 -24.55%, #FF5858 129.17%);
  -webkit-box-shadow: 0px 10px 30px rgba(255, 119, 20, 0.545403);
          box-shadow: 0px 10px 30px rgba(255, 119, 20, 0.545403);
  border-radius: 50px;
  padding: 21px 10px;
  font-weight: 700;
  margin-top: 46px;
  -webkit-transition: .3s;
  transition: .3s;
}
.btn.button:hover {
  background: linear-gradient(0deg, rgba(27, 27, 27, 0.14), rgba(27, 27, 27, 0.14)), linear-gradient(189.51deg, #F09819 -24.55%, #FF5858 129.17%);
  -webkit-box-shadow: 0px 10px 30px rgba(255, 119, 20, 0.545403);
          box-shadow: 0px 10px 30px rgba(255, 119, 20, 0.545403);
  color: #fff;
}

/*
========================================
All Transition
========================================
*/
a {
  transition: 0.4s all ease;
  -webkit-transition: 0.4s all ease;
  -moz-transition: 0.4s all ease;
  -o-transition: 0.4s all ease;
}

/*
====================
Header Style
====================
*/
header {
  padding: 30px 0;
  position: fixed;
  width: 100%;
  z-index: 9999;
}

.navbar-fixed-top {
  background: url(Image), linear-gradient(3.76deg, #0082D5 -50.2%, #A234D5 114%);
}

.main-menu {
  margin-top: 9px;
}

.main-menu li {
  display: inline-block;
  padding: 12px 20px;
}

.main-menu a {
  color: #fff;
  display: block;
  text-decoration: none !important;
  position: relative;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.main-menu a:hover:after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(179.9deg, #FFC167 -382.23%, #FF6F08 351.37%, #FF6D06 351.37%);
  border-radius: 1px;
  left: 0;
}

.menu-wraper {
  position: relative;
}

.site-logo img {
  max-width: 85px;
}

/*
====================
banner Style
====================
*/
.banner {
  background: url(Image), linear-gradient(24.27deg, #0082D5 -50.2%, #A234D5 114%);
  padding-top: 150px;
  overflow: hidden;
}
.banner .svg {
  vertical-align: middle;
}
.banner p {
  color: #fff;
  line-height: 2;
}
.banner .deal {
  font-size: 22px;
  font-weight: 700;
  color: #FF9635;
  letter-spacing: 1.1px;
  text-transform: uppercase;
  padding-top: 65px;
}
.banner .deal span {
  margin-left: 17px;
}
.banner h2 {
  color: #fff;
  font-weight: 900;
  font-size: 53px;
  margin: 15px 0 30px;
}
.banner blockquote {
  color: #fff;
  font-size: 24px;
  padding: 0 0 0 24px;
  border-color: transparent;
  position: relative;
  margin-bottom: 50px;
}
.banner blockquote:before {
  content: "";
  position: absolute;
  height: 100%;
  width: 6px;
  background: #fff;
  border-radius: 3px;
  left: 0;
  top: 0;
}
.banner .iphone {
  position: relative;
}
.banner .iphone img {
  max-width: 405px;
  min-height: 740px;
}
.banner .iphone .clear-img {
  position: absolute;
  top: 16px;
  right: -34px;
  z-index: 2;
}

/*
====================
service Style
====================
*/
.service {
  position: relative;
  padding-top: 130px;
  padding-bottom: 200px;
}
.service .container {
  padding: 0 22px;
}
.service:before {
  content: "";
  background: url(../images/White_background_curved.png) no-repeat;
  background-size: 100% 100%;
  width: 100%;
  position: absolute;
  bottom: 99.80%;
  left: 0;
  height: 115px;
}
.service .items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 -22px;
}
.service .items .col-md-4 {
  margin: 22.5px 0;
  padding: 0 22px;
}
.service .items .item {
  border: 1px solid #F1F1F1;
  border-radius: 6px;
  -webkit-box-shadow: 0px 10px 40px rgba(56, 44, 122, 0.181641);
          box-shadow: 0px 10px 40px rgba(56, 44, 122, 0.181641);
  padding: 54px 40px 35px 40px;
  color: #1B1B1B;
  height: 100%;
}
.service .items .item h3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.6;
  margin-top: 30px;
  padding-bottom: 20px;
  margin-bottom: 25px;
  position: relative;
}
.service .items .item h3:after {
  content: "";
  width: 80px;
  height: 6px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  background: linear-gradient(179.47deg, #FFC167 -382.23%, #FF6F08 351.37%, #FF6D06 351.37%);
  border-radius: 3px;
}
.service .items .item p {
  line-height: 2;
}

/*
====================
package Style
====================
*/
.package {
  background: url(../images/Premium_section_bg@2x.png) no-repeat;
  background-size: 100% 100%;
  position: relative;
  padding-top: 170px;
  padding-bottom: 200px;
}
.package .btn.button {
  margin-top: 70px;
}
.package .items {
  background: #fff;
  padding: 100px 120px;
  -webkit-box-shadow: 0px 18px 100px rgba(0, 0, 0, 0.301376);
          box-shadow: 0px 18px 100px rgba(0, 0, 0, 0.301376);
  border-radius: 6px;
}
.package .items ul li {
  font-weight: 600;
  line-height: 24px;
  color: #1B1B1B;
  margin-bottom: 15px;
}
.package .items ul li:after {
  content: "";
  display: block;
  clear: both;
}
.package .items ul li:before {
  content: "";
  display: block;
  float: left;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: linear-gradient(161.09deg, #FFC167 -65.84%, #FF6F08 126.13%, #FF6D06 126.13%);
  position: relative;
  top: 6px;
  margin-right: 10px;
}
.package .items ul li span {
  width: calc(100% - 23px);
  display: block;
  float: left;
}

/*
====================
Footer Style
====================
*/
footer {
  background: #372A82;
  color: #fff;
  padding: 110px 0;
}

.footer-menu li {
  display: block;
  margin-bottom: 12px;
}

.footer-menu a {
  color: #fff;
  font-size: 14px;
  line-height: 1.5;
  display: block;
  text-decoration: none !important;
}
.footer-menu a:hover {
  font-weight: 600;
}

.footer-box {
  padding-bottom: 30px;
}

.footer-box h2 {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 35px;
  letter-spacing: 2px;
}

.footer-logo {
  text-decoration: none;
  margin-bottom: 15px;
  display: block;
  font-weight: 300;
}

.footer-logo img {
  margin-top: -6px;
  float: left;
  max-width: 69px;
}

.footer-box p {
  line-height: 1.5;
}

.footer-logo p {
  font-size: 14px;
  line-height: 1.5;
  float: left;
  width: calc(100% - 69px);
  max-width: 202px;
  padding-left: 10px;
}
.footer-logo p span {
  display: block;
  opacity: .5;
}

.footer-box .review {
  margin-top: 5px;
  margin-bottom: 25px;
  text-align: right;
}

.footer-box .footer-rating {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin: 20px 0;
  margin-bottom: 0;
}

.footer-social {
  text-align: right;
}

.footer-social a {
  color: #302f2f;
  font-size: 20px;
  margin-right: 5px;
  background: #fff;
  text-align: center;
  line-height: 35px;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  display: inline-block;
}
.footer-social a:last-child {
  margin-right: 0;
}

/*
========================================
Scroll To Top Style
========================================
*/
.scrollup {
  background: #03A9F5 none repeat scroll 0 0;
  bottom: 50px;
  height: 32px;
  position: fixed;
  right: 20px;
  width: 32px;
  z-index: 1;
  display: none;
}

a.scrollup {
  outline: 0;
  text-align: center;
}

a.scrollup:hover,
a.scrollup:active,
a.scrollup:focus {
  opacity: 1;
  text-decoration: none;
}

a.scrollup i {
  margin-top: 0;
  color: #fff;
  position: relative;
  top: -4px;
}

a.scrollup i:hover {
  text-decoration: none;
}

/*================================== All Css Query ====================================*/
@media (max-width: 1199px) {
  .footer-social a {
    margin-right: 0;
  }

  .banner .iphone .clear-img {
    right: 34px;
  }

  .banner .deal {
    font-size: 18px;
  }

  .banner h2 {
    font-size: 40px;
  }

  .banner br {
    display: none;
  }

  .service .container {
    padding: 0 10px;
  }

  .service .items {
    margin: 0 -10px;
  }

  .service .items .col-md-4 {
    padding: 0px 10px;
  }

  .service .items .item {
    padding: 54px 30px 35px 30px;
  }
}
@media (max-width: 767px) {
  .scroll-button {
    display: none;
  }
}
.mobile-trigger {
  display: none;
}

.mobile-menu {
  display: none;
}

@media only screen and (max-width: 991px) {
  .main-menu {
    display: none;
  }

  .login-btn {
    position: absolute;
    right: 70px;
    top: 2px;
    z-index: 10;
  }

  .menu-wraper {
    padding: 0;
    text-align: right;
  }

  .mobile-trigger {
    display: block;
    width: 50px;
    height: 40px;
    margin-left: auto;
    cursor: pointer;
    margin-top: 14px;
    font-size: 30px;
    color: #fff;
  }

  .mobile-menu {
    display: block;
    position: fixed;
    right: -100px;
    top: 0;
    background: #fff;
    width: 200px;
    z-index: 99;
    padding: 25px 0;
    height: 100%;
    -webkit-transition: 0.5s all ease;
    transition: 0.5s all ease;
    opacity: 0;
    visibility: hidden;
  }
  .mobile-menu ul {
    padding: 0 15px;
  }

  .mobile-menu.open {
    right: 0;
    opacity: 1;
    visibility: visible;
  }

  .mobile-menu a {
    color: #302f2f;
    font-size: 14px;
    display: block;
    text-decoration: none !important;
    padding: 6px 0;
    text-transform: uppercase;
  }

  .mobile-menu li {
    border-bottom: 1px solid #e0e0e0;
    display: block;
  }

  .mobile-menu li:last-child {
    border-bottom: 1px solid transparent;
  }

  .overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    background: rgba(0, 0, 0, 0.59);
    z-index: 98;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: 0.5s all ease;
    transition: 0.5s all ease;
  }

  .overlay.open {
    visibility: visible;
    opacity: 1;
  }

  .mobile-close {
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
    margin-left: auto;
    margin-right: 14px;
    font-weight: 300;
    font-size: 20px;
    margin-top: -22px;
    padding: 10px;
  }

  .banner .iphone img {
    margin-top: 33px;
  }

  .service {
    padding-top: 70px;
    padding-bottom: 100px;
  }

  .section-heading h2 {
    font-size: 39px;
    margin-bottom: 15px;
  }

  .service .items .item {
    max-width: 300px;
  }

  .package {
    background-size: cover;
    padding: 100px 0;
    background-position: center;
  }

  .footer-box .footer-rating {
    width: auto;
    max-width: 216px;
  }

  .footer-box .review,
  .footer-social {
    text-align: left;
  }

  .footer-social a {
    margin-right: 10px;
  }
}
@media (max-width: 767px) {
  html {
    font-size: 150%;
  }

  body {
    font-size: 14px;
  }

  header {
    padding: 15px 0;
  }

  .site-logo img {
    max-width: 49px;
  }

  .mobile-trigger {
    margin-top: 0;
  }

  .banner {
    padding-top: 90px;
    text-align: center;
  }
  .banner .deal {
    padding-top: 0;
  }
  .banner .deal img {
    display: block;
    margin: 0 auto;
  }
  .banner .deal .svg {
    display: none;
  }
  .banner .deal span {
    font-size: 0.6875rem;
    margin-top: 0.6875rem;
    display: block;
  }

  .banner h2 {
    font-size: 1.4375rem;
    margin-top: 0.3125rem;
  }

  .banner blockquote {
    padding-top: 1.25rem;
    font-size: 1.1rem;
    margin-bottom: 0.9375rem;
    padding-left: 0;
    border: none;
  }

  .banner blockquote::before {
    height: 6px;
    width: 4.375rem;
    right: 0;
    margin: 0 auto;
  }

  .center {
    margin: 0 auto;
  }

  .btn.button {
    margin-top: 1.125rem;
    padding: 0.6875rem 0.625rem;
    font-size: 1.125rem;
  }

  .banner .iphone {
    text-align: center;
  }

  .banner .iphone img {
    max-width: 10.125rem;
    min-height: 18.5rem;
  }

  .transparent-img {
    position: relative;
    left: -72px;
  }

  .banner .iphone .clear-img {
    z-index: 0;
    right: 80px;
  }

  .service {
    background: #fff;
    padding-top: 20px;
    margin-top: -162px;
    padding-bottom: 3.125rem;
  }
  .service .row {
    margin: 0 -10px;
  }

  .service .items .col-md-4 {
    margin: 0.3125rem 0;
  }

  .service .items .item {
    padding: 45px 20px 35px 20px;
    -webkit-box-shadow: 0px 0 15px rgba(56, 44, 122, 0.181641);
            box-shadow: 0px 0 15px rgba(56, 44, 122, 0.181641);
  }

  .service .items .item h3 {
    font-size: 18px;
    margin-top: 25px;
    padding-bottom: 18px;
    margin-bottom: 20px;
  }

  .service::before {
    background-image: url(../images/Rectangle.png);
    height: 52px;
  }

  .section-heading {
    padding-bottom: 1.75rem;
  }

  .section-heading h2 {
    font-size: 1.1875rem;
    line-height: 1.5;
  }

  .package {
    background-image: url(../images/servicmbg.png);
    background-size: 100% 100%;
    padding: 60px 0;
  }

  .package .items {
    padding: 30px 20px;
  }

  .package .btn.button {
    margin-top: 30px;
  }

  footer {
    padding: 60px 0;
    padding-bottom: 40px;
  }
}
@media (max-width: 575px) {
  html {
    font-size: 100%;
  }

  .container,
  .col-lg-1,
  .col-lg-10,
  .col-lg-11,
  .col-lg-12,
  .col-lg-2,
  .col-lg-3,
  .col-lg-4,
  .col-lg-5,
  .col-lg-6,
  .col-lg-7,
  .col-lg-8,
  .col-lg-9,
  .col-md-1,
  .col-md-10,
  .col-md-11,
  .col-md-12,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9,
  .col-sm-1,
  .col-sm-10,
  .col-sm-11,
  .col-sm-12,
  .col-sm-2,
  .col-sm-3,
  .col-sm-4,
  .col-sm-5,
  .col-sm-6,
  .col-sm-7,
  .col-sm-8,
  .col-sm-9,
  .col-xs-1,
  .col-xs-10,
  .col-xs-11,
  .col-xs-12,
  .col-xs-2,
  .col-xs-3,
  .col-xs-4,
  .col-xs-5,
  .col-xs-6,
  .col-xs-7,
  .col-xs-8,
  .col-xs-9 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .row {
    margin-right: -10px;
    margin-left: -10px;
  }

  .service {
    margin-top: -78px;
  }

  .banner .iphone img {
    max-width: 12.125rem;
  }

  .transparent-img {
    left: -58px;
  }

  .banner .iphone .clear-img {
    right: 0;
  }

  .footer-box .footer-rating {
    max-width: 170px;
  }

  .footer-box .review {
    font-size: 12px;
  }

  .footer-social a {
    font-size: 18px;
    line-height: 30px;
    height: 30px;
    width: 30px;
  }
}
